.NavBar {
  display: flex;
  justify-content: center;
}

.nav-link {
  padding: 20px 20px 20px 20px;
  justify-content: space-between;
}

.nav-link:hover {
  background-color: #ffd7ff;
}

.home {
  display: flex;
  justify-content: center;
}

.logo {
  width: 30%;
  margin-top: 10px;
}